<!DOCTYPE html>

<html lang="en">
	<head>
		<%- include('../partials/top.ejs', {pagename: "Admin dashboard"}) %>
		<link rel="stylesheet" href="/tutor/index.css" />
		<link rel="stylesheet" href="/findtutors/index.css" />

		<link rel="stylesheet" href="/tutor/app.css" />

		<script type="module">
		</script>
	</head>

	<body>
		<%- include('../partials/nav.ejs')%>

		<main>
			<article>
			</article>

			<%- include('../partials/footer.ejs')%>
		</main>
	</body>
</html>