<!DOCTYPE html>

<html lang="en">
	<head>
		<%- include('../partials/top.ejs', {pagename: "Admin dashboard"}) %>

		<script type="module">
import mount from "./app.js";
mount("admin-dashboard", {});
		</script>
	</head>

	<body>
		<%- include('../partials/nav.ejs')%>

		<main>
			<article class="with-padding no-large-font no-uppercase-h2">
				<admin-dashboard></admin-dashboard>
			</article>

			<%- include('../partials/footer.ejs')%>
		</main>
	</body>
</html>