<footer>
	<h2 id="contact">Contact us</h2>

	<section>
		<contact-location>
			Wayne, PA 19087
			<span>Phone: <a href="tel:13127929794">+1 (312) 792-9794</a></span>
			<span>Email: <a href="mailto:dream2learninc@gmail.com">dream2learninc@gmail.com</a></span>
		</contact-location>

		<contact-socials>
			<a target="_blank" href="https://facebook.com/dreamtolearn.incorp">Facebook</a>
			<a target="_blank" href="https://twitter.com/dream2learn">Twitter</a>
			<!-- <a target="_blank" href="https://instagram.com/dream2learnedu">Instagram</a> -->
			<!-- <a target="_blank" href="https://discord.com/invite/wkb5vT4">Discord</a> -->
		</contact-socials>

		<div>
			<a target="_blank" href="/legal/terms">Terms of Service</a>
			<a target="_blank" href="/legal/privacy">Privacy Policy</a>
			<a target="_blank" href="https://app.termly.io/notify/e83abf33-f9b5-4549-a1bb-20bda2947621">Do Not Sell My Info</a>
		</div>

		<button
		class="termly-cookie-preference-button"
		type="button"
		style="background: white; width: 165px; height: 30px; border-radius: 3px; border: 1px solid #5F7D9C
		; font-family: Roboto, Arial; font-size: 10px; color: #5F7D9C
		; font-weight: 600; box-sizing: border-box; cursor: pointer; padding: 0; outline: none;"
		onclick="displayPreferenceModal()"
		>
			Manage Cookie Preferences
		</button>
	</section>
</footer>