

<nav>
	<a href="/#">
		<logo->
			<svg class="logomark" viewbox="0 0 280 226">
				<use href="/assets/logo.svg#logomark" />
			</svg>
			<logotype->Dream<strong>2</strong>Learn</logotype->
		</logo->
	</a>

	<link-rack>
		<a href="/findtutors" class="strong">Find tutors</a>

		<!-- <a href="#">Join us!</a> -->

		<!-- <a target="_blank" href="//www.gofundme.com/f/free-online-tutoring-program-for-students">Donate</a> -->

		<a href="/#faq">FAQ</a>

		<a href="/#about">About us</a>

		<a href="#contact">Contact us</a>
	</link-rack>

	<link-rack>
		<% if (logged_in) {%>
		<div class="item">
			<span class="glyphicon glyphicon-user"></span>
			Welcome, <%=user.user%>!
		</div>

		<a href="/me"><%- user.isTutor ? "Tutor" : "Student" %> dashboard</a>
		
		<% if (user.isAdmin) {%>
		<a href="/admin">Admin controls</a>
		<% } %>

		<a class="strong" href="/logout">
			<span class="glyphicon glyphicon-log-in"></span> Log out
		</a>
		<% } else { %>
		<a class="strong" href="/login">Log in</a>

		<a href="/register">Register</a>
		<% } %>
	</link-rack>
</nav>