<title>Simple Log In</title>
<%- include('../partials/head.ejs')%>
<link rel="stylesheet" href="/login/background.css" media="screen" />
<%- include("../partials/bar.ejs")%>
<div class="hero-image">
  <div class="hero-text">
    <h2 class="">Registration successful.</h2>
    <div>A confirmation email has been sent to the email specified.</div>
  </div>
</div>
