.login {
	align-self: flex-start;
	display: grid;
	justify-items: center;
	align-items: center;
}
.login-field::placeholder {
	color: #3a3a3a;
}
.login-field {
	border-radius: 5px;
	padding: 5px 5px 5px 5px;
	margin-bottom: 5px;

}
.login-field:focus {
	outline:none;
	box-shadow: 0 0 7px 7px rgba(145, 92, 182, 0.363);
}
.login-field:hover {
	outline:none;
	box-shadow: 0 0 7px 7px rgba(1, 196, 255, 0.151);
}
.login-button:hover {
	outline:none;
	box-shadow: 0 0 7px 7px rgba(1, 196, 255, 0.151);
}
.login-button {
	border-radius: 5px;
	padding: 5px 5px 5px 5px;
}

main {
	min-height: 90vh;
	display: grid;

	background: var(--col-blue);
	background-image: radial-gradient(#0000, var(--col-blue-dark-7f)),
			linear-gradient(var(--col-blue-shadow-3f), var(--col-blue-shadow-3f)),
			url("../assets/header-mesh.svg");

	color: #fff;
}


main > div {
	/* TODO some code is repeated from header-main. Unify them? */
	padding: 0 4em;
	display: grid;
	grid-template-columns: 1fr;
	gap: 2em 0;

	place-self: center;
	justify-items: center;

	line-height: 2;
	/* animation: header-pattern-slide-2 24s infinite linear; */
}

main > div.multicolumn {
	grid-template-columns: 1fr minmax(1em, 3vw) 1fr;
}

main > div > * {
	margin: auto;
}

main > div > h1 {
	grid-column: 1 / -1;

	width: 100%;
	padding-bottom: 0.5em;
	text-align: center;
	/* font-style: italic; */
}

main > div h2 {
	margin: 0;
}

main > div :is(h1, h2) {
	line-height: 1;
}

main > div > .form {
	grid-area: 2 / 1;

	margin-top: 0;
	margin-right: 0;

	text-align: center;
}

main > div > .form > form {
	margin-top: 1em;

	gap: 0.5em;
}

main > div > .form > form > .login-bottom {
	line-height: 1.25;
}

main > div > article {
	grid-area: 2 / 3;
	place-self: top;
}

main > div > article dl:first-child {
	margin: 0;
}

main > div > article dt {
	/* margin: 0.65em 0; */
	line-height: 1;
	margin-bottom: 0.5em;

	color: var(--col-yellow);
}

main > div > article dd {
	color: #ffffffcf;
}


main > div > article dl + p {
	margin-top: 2.5em;
}