<title>Simple Log In</title>
<%- include('../partials/head.ejs')%>


<link rel="stylesheet" href="/login/background.css" media="screen" />
<script src="/login/login.js"></script>

<%- include('../partials/bar.ejs')%>
<div class="hero-image">
  <div class="hero-text">
    <h2 class="">log in</h2>
    <div id="login-error" class="login-error"></div>
    <form method="POST" action="/api/login" class="login" id="login-form">
      <input
        name="user"
        type="text"
        id="login-username"
        class="login-field"
        placeholder="username..."
      />
      <input
        name="pass"
        type="password"
        id="login-password"
        class="login-field"
        placeholder="password..."
      />
      <input
        type="submit"
        id="login-submit"
        value="Login"
        class="login-button"
      />
    </form>
    <div class="login-bottom">
      Don't have an account?
      <a href="/register">Register</a>
    </div>
    <div class="login-bottom">
      Lost your password?
      <a href="/resetpassword">Reset your password</a>
    </div>
  </div>
</div>
