<!DOCTYPE html>

<html lang="en">
	<head>
		<%- include('../partials/top.ejs')%>
		
		<link rel="stylesheet" href="/login/login.css" media="screen" />

		<script
			src="https://code.jquery.com/jquery-3.6.0.min.js"
			integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
			crossorigin="anonymous"
		></script>
		<script src="/login/login.js"></script>
	</head>

	<body class="page-login">
		<main>
			<section>
				<main-area>
					<h1>Ready to find a tutor?</h1>
	
					<form method="POST" action="/api/login" class="login" id="login-form">
						<h2 class="">log in</h2>
						<div id="login-error" class="login-error"></div>

						<input
							name="user"
							type="text"
							id="login-username"
							class="login-field"
							placeholder="username..."
						/>
						<input
							name="pass"
							type="password"
							id="login-password"
							class="login-field"
							placeholder="password..."
						/>
						<input
							type="submit"
							id="login-submit"
							value="Login"
							class="login-button"
						/>
						<div class="login-bottom">
							Don't have an account?
							<a href="/register">Register</a>
						</div>
						<div class="login-bottom">
							Lost your password?
							<a href="/resetpassword">Reset your password</a>
						</div>
					</form>
		
					<article>
						<h2>FAQ</h2>
	
						<dl>
							<dt>Is the program free?</dt>
							<dd>Yes, the program is entirely free. We are a non-profit organization and we do not charge fees for our services. If you are pleased with our services, please consider supporting us with a donation!</dd>
		
							<dt>What subjects can I find help with?</dt>
							<dd>Our tutors can help you with English, science, social studies, and math; we invite you to look at <a href="#">our full list of subjects</a>. If possible, please send us any material such as textbooks, homework, or notes prior to the tutoring session so our tutors can preview the material and give you a better understanding of the topics.</dd>
		
							<dt>Can I work with the same tutor again?</dt>
							<dd>Absolutely! We schedule multiple sessions with your tutor, even if it is your first time signing up.</dd>
						</dl>
	
						<p>
							<a href="/#faq">Other FAQ</a>
						</p>
					</article>
				</main-area>
			</section>

			<%- include('../partials/footer.ejs')%>
		</main>

		<%- include('../partials/nav.ejs')%>
	</body>
</html>