<%- include('../partials/head.ejs')%>
<title>Simple Log In</title>
<link rel="stylesheet" href="/login/background.css" media="screen" />
<script src="/login/register.js"></script>
<%- include("../d2l.proto/src/nav.ejs")%>

<div class="hero-image">
  <div class="hero-text">
    <h2>register</h2>
    <div id="login-error" class="login-error"></div>
    <form method="POST" action="/api/register" class="login" id="login-form">
      <input
        name="email"
        type="email"
        id="login-email"
        class="login-field"
        placeholder="email..."
      />
      <input
        name="user"
        type="text"
        id="login-username"
        class="login-field"
        placeholder="username..."
      />
      <input
        name="pass"
        type="password"
        id="login-password"
        class="login-field"
        placeholder="password..."
      />
      <input
        name="confirm"
        type="password"
        id="login-confirm"
        class="login-field"
        placeholder="Confirm password..."
      />
      <input
        type="submit"
        id="login-submit"
        value="Login"
        class="login-button"
      />
    </form>
    <div class="login-bottom">
      Have an account?
      <a href="/login">Login</a>
    </div>
    <div class="login-bottom">
      Lost your password?
      <a href="/resetpassword">Reset your password</a>
    </div>
  </div>
</div>
