<%- include('../partials/head.ejs')%>
<title>Simple Log In</title>
<link rel="stylesheet" href="/login/background.css" media="screen" />
<script src="/login/register.js"></script>
<%- include("../partials/bar.ejs")%>

<div class="hero-image">
  <div class="hero-text">
    <h2>register</h2>
    <div id="login-error" class="login-error"></div>
    <form method="POST" action="/api/register" class="login" id="login-form">
      <input
        name="email"
        type="email"
        id="login-email"
        class="login-field"
        placeholder="email..."
      />
      <input
        name="name-first"
        type="text"
        id="login-name-first"
        class="login-field"
        placeholder="first name..."
      />
      <input
        name="name-last"
        type="text"
        id="login-name-last"
        class="login-field"
        placeholder="last name..."
      />
      <input
        name="pass"
        type="password"
        id="login-password"
        class="login-field"
        placeholder="password..."
      />
      <input
        name="confirm"
        type="password"
        id="login-confirm"
        class="login-field"
        placeholder="Confirm password..."
      />
      
      <div>
        <input type="checkbox"
            id="login-tos" />&nbsp;
        <label for="login-tos">
          I have read and agree to the <a href="/legal/terms" target="_blank">terms of service</a> and <a href="/legal/privacy" target="_blank">privacy policy</a>
        </label>
      </div>
      
      <div>
        <input type="radio"
            id="login-age-18"
            name="age" />&nbsp;
        <label for="login-age-18">
          I acknowledge that I am 18 years or older, or have explicit consent from parents/guardians of the student
        </label>
      </div>
      
      <div>
        <input type="radio"
            id="login-age-13"
            name="age" />&nbsp;
        <label for="login-age-13">
          I acknowledge that I am 13 years or older and that the website is not to be used for anyone under the age of 13, unless with explicit consent by parents/guardians and accompanied by parents/guardians during the tutoring session
        </label>
      </div>

      <input
        type="submit"
        id="login-submit"
        value="Login"
        class="login-button"
      />
    </form>
    <div class="login-bottom">
      Have an account?
      <a href="/login">Login</a>
    </div>
    <div class="login-bottom">
      Lost your password?
      <a href="/resetpassword">Reset your password</a>
    </div>
  </div>
</div>
