<title>Simple Log In</title>
<%- include('../partials/head.ejs')%>
<link rel="stylesheet" href="/login/background.css" media="screen" />
<%- include("../d2l.proto/src/nav.ejs")%>

<div class="hero-image">
  <div class="hero-text">
    <h2>Password change successful.</h2>
    <div>
      Your password should have been changed. Check your email for a
      confirmation notice.
    </div>
  </div>
</div>
