<%- include('../partials/head.ejs')%>
<title>Simple Log In</title>
<link rel="stylesheet" href="/login/background.css" media="screen" />
<script src="/login/resetpassword.js"></script>

<div class="hero-image">
  <div class="hero-text">
    <h2>reset your password</h2>
    <div id="login-error" class="login-error"></div>
    <form
      method="POST"
      action="/api/resetpassword"
      class="login"
      id="login-form"
    >
      <input
        name="email"
        type="email"
        id="login-email"
        class="login-field"
        placeholder="email..."
      />
      <input
        type="submit"
        id="login-submit"
        value="Login"
        class="login-button"
      />
    </form>
    <div class="login-bottom">
      We'll send you an email regarding resetting your password.
    </div>
    <div class="login-bottom">
      Don't have an account?
      <a href="/register">Register</a>
    </div>
    <div class="login-bottom">
      Have an account?
      <a href="/login">Log in</a>
    </div>
  </div>
</div>
<%- include('../partials/bar.ejs', {logged_in:logged_in,user:user}); %>
