<title>Simple Log In</title>
<%- include('../partials/head.ejs')%>
<link rel="stylesheet" href="/login/background.css" media="screen" />
<%- include("../d2l.proto/src/nav.ejs")%>

<div class="hero-image">
  <div class="hero-text">
    <h2>Reset password link sent.</h2>
    <div>
      An email with information regarding resetting your password has been sent
      to the email specified, please check your inbox.
    </div>
    <div>
      Some email providers misclassify us as spam. If you don't see the email in
      your inbox, please check your spam or junk folder.
    </div>
  </div>
</div>
