<!DOCTYPE html>

<html lang="en">
	<head>
		<%- include('../partials/top.ejs', {pagename: "Login"}) %>
		
		<link rel="stylesheet" href="/login/login.css" media="screen" />
		<link rel="stylesheet" href="/login/tutor.css" />

		<script
			src="https://code.jquery.com/jquery-3.6.0.min.js"
			integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
			crossorigin="anonymous"
		></script>
		<script src="/login/login.js"></script>
	</head>

	<body>
		<%- include('../partials/nav.ejs')%>

		<main>
			<div>
				<!-- <h1>Thanks for your interest!</h1> -->
				<h1>Tutor login</h1>

				<div class="form">
					<h2>Log in</h2>

					<form method="POST" action="/api/login" class="login" id="login-form">
						<div id="login-error" class="login-error"></div>

						<input
						name="user"
						type="email"
						id="login-email"
						class="login-field"
						placeholder="email..."
					  />
						<input
							name="pass"
							type="password"
							id="login-password"
							class="login-field"
							placeholder="password..."
						/>

						<!-- <hexagonal-button class="strong">
								<label for="login-submit">
									
								</label>
							<button-top>Login</button-top>
						</hexagonal-button> -->

						<input
							type="submit"
							id="login-submit"
							value="Login"
							class="login-button"
						/>

						<div class="login-bottom">
							<div>
								Don't have an account?
								<a href="/register">Register</a>
							</div>
							<div>
								Lost your password?
								<a href="/resetpassword">Reset your password</a>
							</div>
						</div>
					</form>
				</div>
	
				<article>
					<dl>
						<dt>I already have an account!</dt>
						<dd>Great! You can sign on using this page.</dd>
	
						<dt>I want to create a tutor account!</dt>
						<dd>Thanks for your interest! First, <a href="/register" target="_blank">register</a> a student account, and then fill out <a href="#">this form</a>. An admin will review your request and contact you soon. We hope to see you with us!</dd>
					</dl>
				</article>
			</div>
		</main>
	
		<%- include('../partials/footer.ejs')%>
	</body>
</html>