main {
	position: relative;
}

main::before {
	content: " ";
	
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	backdrop-filter: hue-rotate(63deg) saturate(0.95) brightness(0.9);
}

main > div {
	z-index: 1;
}