<!DOCTYPE html>

<html lang="en">
	<head>
		<%- include('../partials/top.ejs')%>
		<link rel="stylesheet" href="./home/index.css" />
		
		<script src="/index.js" type="module"></script>
	</head>

	<body>
		<%- include('../partials/nav.ejs')%>

		<main class="no-padding">
			<!-- <mesh-background></mesh-background> -->

			<header>
				<header-media>
					<header-solid></header-solid>
					<header-mesh-top></header-mesh-top>
					<header-mesh-bottom></header-mesh-bottom>
					<!-- <img src="./assets/spoke.jpg" /> -->
				</header-media>

				<header-other>
					<scroll-indicator>
						<a href="#about"></a>
						<div>Scroll to<br />learn more</div>
					</scroll-indicator>
				</header-other>

				<header-main>
					<logo->
						<svg class="logomark" viewbox="0 0 280 226">
							<use href="/assets/logo.svg#logomark" />
						</svg>
						<logotype->Dream<strong>2</strong>Learn</logotype->
						<p class="light">501(c)(3) in Wayne, PA</p>

						<elevator-pitch>
							<p style="text-indent: -3em;"><strong>Free</strong> online tutoring</p>
							<p style="text-indent: 3em;">in <strong>every</strong> core subject,</p>
							<p><strong>anywhere</strong>.</p>
						</elevator-pitch>
					</logo->

					<header-nav class="wide">
						<hexagonal-button style="--n-shift-x: 0; --n-shift-y: -2; --n-large-to-small-shift-y: 1;">
							<a href="#sample-course-section"></a>
							<button-top style="--hexagon-vertical-text-shift: 0.5em;">Subject list</button-top>
						</hexagonal-button>

						<!-- <hexagonal-button style="--n-shift-x: 1; --n-shift-y: -1; --n-large-to-small-shift-y: 1;">
							<a href="#"></a>
							<button-top>Tutor login</button-top>
						</hexagonal-button> -->
						

						<hexagonal-button class="large strong" style="--n-shift-x: -1; --n-shift-y: -1;">
							<a href="/login/student"></a>
							<button-top>
								Find<br />a tutor
							</button-top>
						</hexagonal-button>

						<hexagonal-button class="large" style="--n-shift-x: 0; --n-shift-y: 0;">
							<a href="/login/tutor"></a>
							<button-top>
								Become<br />a tutor
							</button-top>
						</hexagonal-button>

						<hexagonal-button style="--n-shift-x: -2; --n-shift-y: 0; --n-large-to-small-shift-y: -1;">
							<a href="#faq"></a>
							<button-top>FAQ</button-top>
						</hexagonal-button>

						<!-- <hexagonal-button class="strong" style="--n-shift-x: -1; --n-shift-y: 1; --n-large-to-small-shift-x: 1; --n-shift-small-x: -1;">
							<a target="_blank" href="https://gofundme.com/f/free-online-tutoring-program-for-students"></a>
							<button-top>Donate</button-top>
						</hexagonal-button> -->

						<hexagonal-button style="--n-shift-x: -1; --n-shift-y: 1; --n-large-to-small-shift-x: 1; --n-shift-small-x: 0;">
							<a href="#contact"></a>
							<button-top>Contact</button-top>
						</hexagonal-button>

						<!-- <hexagonal-button style="--n-shift-x: -1; --n-shift-y: 1; --n-large-to-small-shift-x: 1; --n-shift-small-x: 1;">
							<a href="#reviews"></a>
							<button-top>Reviews</button-top>
						</hexagonal-button> -->
					</header-nav>
				</header-main>
			</header>

			<article id="about">
				<section>
					<div>
						<h2>Helping low-income students<br /><strong>succeed</strong></h2>
						<p>We provide <em>free, individualized tutoring</em> to students, especially from low-income families, and help them fulfill their academic potential. We believe students should have the opportunity to succeed in their education, no matter their economic background.</p>
						<p>Learn more about Dream2Learn by <a href="#contact">contacting us</a>, and <a href="/findtutors">join us</a> in forming a positive change.</p>
					</div>

					<photo-container>
						<a target="_blank" href="/assets/photo/A.jpg">
							<img class="photo" src="/assets/photo/A-thumb.jpg" alt="" />
						</a>
					</photo-container>
				</section>

				<section class="stat-row">
					<stat-row>
						<stat->
							<big-number>46+</big-number>
							<div>students tutored</div>
						</stat->

						<stat->
							<big-number>536+</big-number>
							<div>total hours tutoring</div>
						</stat->

						<stat->
							<big-number>39</big-number>
							<div>active tutors</div>
						</stat->
					</stat-row>
				</section>

				<section>
					<div>
						<h2><strong>One-on-one</strong><br />peer instruction</h2>
						<p>Students who <a href="/findtutors">sign up</a> will be matched with volunteer tutors. Tutoring sessions are currently hosted online, one-on-one, through <a href="https://zoom.us/" target="_blank">Zoom</a> or <a href="https://meet.google.com/" target="_blank">Google Meets</a>. Our tutors have flexible hours and can personalize your sessions to accommodate you.</p>
						<p>After your session, please consider <a href="#contact">giving us feedback</a> on what you enjoyed and how we can improve!</p>
					</div>
				</section>

				<section class="hide-overflow" id="sample-course-section">
					<div>
						<h2><strong>Twenty-five</strong><br />subjects and counting</h2>
						<p>We primarily help students with English, social studies, math, and science, including a variety of <a href="https://ap.collegeboard.org/" target="_blank">Advanced Placement (AP)</a> courses. Our techniques focus on making the information intuitive, memorable, and easy to conceptualize. We are able to tutor our students from 30 minutes up to an hour.</p>
						<p>You can <a href="/findtutors">sign up</a> for a free session right now. We’re excited to help you learn!</p>
					</div>

					<sample-course-list>
						<ul>
							<li>AP United States History</li>
							<li>AP Calculus BC</li>
							<li>AP Biology</li>
							<li>American Literature</li>
							<li>AP World History</li>
							<li>Precalculus</li>
							<li>AP Computer Science A</li>
							<li>AP United States Government</li>
							<li>Algebra II</li>
							<li>AP Literature and Composition</li>
							<li>Writing & grammar</li>
							<li>Statistics</li>
							<li>Reading</li>
							<li>World Literature</li>
							<li>AP Language and Composition</li>
							<li>Historical Analysis</li>
							<li>H World History</li>
							<li>AP United States History</li>
							<li>H United States History</li>
							<li>H United States Government</li>
							<li>Pre-algebra</li>
							<li>Algebra I</li>
							<li>Geometry</li>
							<li>Calculus</li>
							<li>Biology</li>
							<li>Chemistry</li>
							<li>Physics</li>
							<li>Environmental Science</li>
						</ul>
					</sample-course-list>
				</section>

				<section id="faq">
					<div>
						<h2><strong>Questions</strong></h2>

						<dl class="counter-faq">
							<dt>Is the program free?</dt>
							<dd>Yes, the program is entirely free. We are a non-profit organization and we do not charge fees for our services. If you are pleased with our services, please consider supporting us with a donation!</dd>

							<dt>Who are we and what are our qualifications?</dt>
							<dd>Our volunteers are high school students who are willing to help you overcome any challenges. Most of our tutors are AP students who excel in their own subject areas. While we cannot guarantee that we will be able to answer every single question you have, we will try to the best of our ability!</dd>
		
							<dt>What subjects can I find help with?</dt>
							<dd>Our tutors can help you with English, science, social studies, and math; we invite you to look at <a href="#sample-course-section">our full list of subjects</a>. If possible, please send us any material such as textbooks, homework, or notes prior to the tutoring session so our tutors can preview the material and give you a better understanding of the topics.</dd>
		
							<dt>How do I get a tutor?</dt>
							<dd>You can get a tutor by signing up on the sign-up page, or alternatively, contact us through the contact page and send us your message. Both work fine and we are happy to help you.</dd>

							<dt>Can I work with the same tutor again?</dt>
							<dd>Absolutely! We schedule multiple sessions with your tutor, even if it is your first time signing up.</dd>
						</dl>
					</div>
				</section>

				<!-- <h2 id="reviews">Reviews</h2> -->
			</article>

			<%- include('../partials/footer.ejs')%>
		</main>
	</body>
</html>