<!DOCTYPE html>

<html lang="en">
	<head>
		<%- include('../partials/top.ejs', {pagename: tutor.user}) %>
	</head>

	<body>
		<%- include('../partials/nav.ejs')%>

		<main>
			<article>
				<section>
					<h1><%- tutor.user %></h1>
				</section>
			</article>

			<%- include('../partials/footer.ejs')%>
		</main>
	</body>
</html>