<!DOCTYPE html>

<html lang="en">
	<head>
		<%- include('../partials/top.ejs', {pagename: tutor.user}) %>
		<link rel="stylesheet" href="/tutor/index.css" />
	</head>

	<body>
		<%- include('../partials/nav.ejs')%>

		<main>
			<article>
				<tutor-dashboard>
					<h1><%- tutor.user %></h1>
					<div>
						<member-label>Tutor</member-label>
					</div>
				</tutor-dashboard>
			</article>

			<%- include('../partials/footer.ejs')%>
		</main>
	</body>
</html>