tutor-dashboard {
	display: flex;
	flex-flow: column;
	padding: 0 var(--article-padding-horizontal);
}

.user-heading {
	margin-bottom: 0.5em;
}

member-label {
	text-transform: uppercase;
}

.user-email {
	font-size: 0.85em;
}