<!DOCTYPE html>

<html lang="en">
	<head>
		<%- include('../partials/top.ejs')%>
	</head>

	<body>
		<%- include('../partials/nav.ejs')%>

		<main>
			The place where all the things happen

			<%- include('../partials/footer.ejs')%>
		</main>
	</body>
</html>