session-viewer {
	display: flex;
	/* flex-flow: column; */
	gap: 1em;
	padding: 0 var(--article-padding-horizontal);
}

session-list {
	display: flex;
	flex-flow: wrap;
	width: 100%;
	height: min-content;
	justify-content: center;
	gap: 1em;
}

session-item {
	padding: 0.5em;
	display: flex;
	flex-flow: column;
	gap: 0.5em;

	box-shadow: 0 0.125em 0.5em 0em var(--col-blue-af);

	background: #fff;
	max-width: 20em;
	font-size: 0.85em;
}

session-item.reserved {
	opacity: 0.3;
	transform: scale(0.875);
}

session-item > h3 {
	margin: 0 0 0.25em 0;
}

session-item > session-people {
	flex-grow: 1;
}

session-item > session-time {
	display: block;
	text-align: right;
}