session-viewer {
	display: flex;
	/* flex-flow: column; */
	gap: 1em;
	padding: 0 var(--article-padding-horizontal);
}
/* 
session-list {
	display: flex;
	flex-flow: wrap;
	width: 100%;
	height: min-content;
	justify-content: center;
	gap: 1em;
} */

/* session-item {
	min-width: 13.5em;
	padding: 0.5em;
	display: flex;
	flex-flow: column;
	gap: 0.5em;

	box-shadow: 0 0.125em 0.5em 0em var(--col-blue-af);

	background: #fff;
	max-width: 20em;
	font-size: 0.85em;
}

session-item.reserved {
	opacity: 0.3;
	transform: scale(0.875);
}

session-item.reserved-by-you {
	background: #fff4dd;
	animation: session-pulsate 1s ease-in-out alternate infinite;

	box-shadow: 0 0.125em 0.5em 0em var(--col-blue-af),
			0 0 2em -0.5em var(--col-button-yellow);
}

@keyframes session-pulsate {
	0% {
		background: var(--col-button-yellow-light);
	}

	100% {
		background: #fff4dd;
	}
}

session-item > h3 {
	margin: 0;
} */

session-item > session-people {
	flex-grow: 1;
}

/* session-item > session-time {
	display: block;
	text-align: right;
} */