<!DOCTYPE html>

<html lang="en">
	<head>
		<%- include('../partials/top.ejs', {pagename: student.user}) %>
	</head>

	<body>
		<%- include('../partials/nav.ejs')%>

		<main>
			<article>
				<section>
					<div>
						<h1><%- student.user %></h1>
					</div>
				</section>
			</article>

			<%- include('../partials/footer.ejs')%>
		</main>
	</body>
</html>