<!DOCTYPE html>

<html lang="en">
	<head>
		<%- include('../partials/top.ejs', {pagename: "Terms of Service"}) %>
	</head>

	<body>
		<%- include('../partials/nav.ejs')%>

		<main>
			<article>
				<h1>Dream2Learn Terms of Service</h1>
			
			</article>
		</main>

		<%- include('../partials/footer.ejs')%>
	</body>
</html>