<!DOCTYPE html>

<html lang="en">
	<head>
		<%- include('../partials/top.ejs', {pagename: "Privacy Policy"}) %>
	</head>

	<body>
		<%- include('../partials/nav.ejs')%>

		<main>
			<article>
				<h1>Dream2Learn Privacy Policy</h1>

				<div name="termly-embed" data-id="e83abf33-f9b5-4549-a1bb-20bda2947621" data-type="iframe"></div>
				<script type="text/javascript">(function(d, s, id) {
				var js, tjs = d.getElementsByTagName(s)[0];
				if (d.getElementById(id)) return;
				js = d.createElement(s); js.id = id;
				js.src = "https://app.termly.io/embed-policy.min.js";
				tjs.parentNode.insertBefore(js, tjs);
				}(document, 'script', 'termly-jssdk'));</script>

				<h1>Cookie Policy</h1>

				<div name="termly-embed" data-id="2fc45f44-c840-4a3f-b93b-c27997deeb05" data-type="iframe"></div>
				<script type="text/javascript">(function(d, s, id) {
				var js, tjs = d.getElementsByTagName(s)[0];
				if (d.getElementById(id)) return;
				js = d.createElement(s); js.id = id;
				js.src = "https://app.termly.io/embed-policy.min.js";
				tjs.parentNode.insertBefore(js, tjs);
				}(document, 'script', 'termly-jssdk'));</script>
			</article>
		</main>

		<%- include('../partials/footer.ejs')%>
	</body>
</html>