<!DOCTYPE html>

<html lang="en">
	<head>
		<%- include('../partials/top.ejs', {pagename: "Terms of Service"}) %>
	</head>

	<body>
		<%- include('../partials/nav.ejs')%>

		<main>
			<article>
				<h1>Dream2Learn Terms of Service</h1>

				<div name="termly-embed" data-id="b330b518-cce9-4a40-94c9-a81a17af187c" data-type="iframe"></div>
				<script type="text/javascript">(function(d, s, id) {
				  var js, tjs = d.getElementsByTagName(s)[0];
				  if (d.getElementById(id)) return;
				  js = d.createElement(s); js.id = id;
				  js.src = "https://app.termly.io/embed-policy.min.js";
				  tjs.parentNode.insertBefore(js, tjs);
				}(document, 'script', 'termly-jssdk'));</script>

				<h1>Disclaimer</h1>
				
				<div name="termly-embed" data-id="89c5c6a1-fc82-4499-b00d-94270a6f0dce" data-type="iframe"></div>
				<script type="text/javascript">(function(d, s, id) {
				var js, tjs = d.getElementsByTagName(s)[0];
				if (d.getElementById(id)) return;
				js = d.createElement(s); js.id = id;
				js.src = "https://app.termly.io/embed-policy.min.js";
				tjs.parentNode.insertBefore(js, tjs);
				}(document, 'script', 'termly-jssdk'));</script>
			</article>
		</main>

		<%- include('../partials/footer.ejs')%>
	</body>
</html>